.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.card{
    margin-bottom: 10px;
    border: 2px solid grey;
}

.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.reg{
    width: 100px
}