{% extends 'partials\base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/click.css'%}">
{% endblock %}


{% block content %}
  <h1>Buy a Pack</h1>

  <h3 class="confirm">Are you sure you want to buy a pack for <strong>3000</strong> coins?</h3>
  <div class="click">
    <form method="post">
      {% csrf_token %}
      <button type='submit' class="btn btn-primary a-button" name="buy">Buy</button>
    </form>
      <a href="{% url 'homepage' %}" class="btn btn-danger" name="cancel">Cancel</a>
  </div>
{% endblock %}